@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary);
    overflow-x: hidden;
}
:root {
    --primary : #ffff;
    --secondary : #E3E0F3;
    --third : #009063;
    --fourth : #3B3B3B;
    --fifth: #c6cbb9;
    /* --primary : #ffff;
    --secondary : #f2f2f2;
    --third : #003d28;
    --fourth : #000000; */
    /* --primary : #171717;
    --secondary : #444444;
    --third : #DA0037;
    --fourth : #EDEDED; */
}


::-webkit-scrollbar {
    width: 15px;
    background:var(--fourth);
}

::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background:var(--secondary);
}
.orderplaced{
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 10vh;
    display: none;
    
}
.orderplaced p{
    width: 70vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.523);
    border-radius: 3rem;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: var(--secondary);
}

.Navbar{
    width: 94vw;
    display: flex;
    color: var(--fourth);
    background-color: var(--primary);
    height: 7vh;
    font-family: 'Poppins', sans-serif;
    padding: 0 4vw;
    align-items: center;
    position: fixed;
    z-index: 2;
    
    
}

.Navbar a{
    text-decoration: none;
    color: var(--fourth);
}
.navheading i{
    cursor: pointer;;
}

.navheading:hover {
    color: var(--third);
}

.Navbar a:hover{
    
    color: var(--third);
}
.logo {
    width: 10vw;
    font-size: 2em;
    color: var(--secondary);
}
.logo a{
    
    color: var(--third);
}
.logo a:hover{
    
    color: var(--fourth);
}
.navitem{
    width: fit-content;
    padding: 0 3vw;
}
.navitem ul{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    list-style: none;
    column-gap: 5vw;
    /* justify-content: space-around; */
    

    
}
.navheading ul li{
    width: fit-content;
    

}
.navheading{
    font-size: 1.2em;
    cursor: pointer;
}
.navitem ul li a:first-child{
    display: flex;
   
    

}

.searchbar{
    width: 21vw;
}
.searchbar input{
    width: 21vw;
    height: 4vh;
    border-radius: 20rem;
    background-color: var(--secondary);
    border: 1px solid var(--fourth);
    -webkit-box-shadow: 0 0 6px #e9e9eb;
    -moz-box-shadow: 0 0 5px #e9e9eb;
    box-shadow: 0 0 1px #e9e9eb;
    padding-left: 0.5vw;
    font-size: 0.8vw;
    padding-right: 1.5vw;
    font-family: 'Poppins', sans-serif;
}

.right{
    padding-left: 1.5vw;
    width: 25vw;
    display: flex;
    justify-content: space-around;
    
}

.cart{
    position: relative;
}
.cartnumber{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: var(--third);
    color: var(--secondary);
    width: 0.9vw;
    height: 0.9vw;
    text-align: center;
    border-radius: 50rem;
    font-size: 0.5em;
    left: 0.7vw;
    bottom: 0;
}
.cartmenu{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    display: none;
    background-color: var(--secondary);
    width: 25vw;
    height: 100vh;
    
    z-index: 3;
    right: 0;
    top: 0;
}
.show{
    display: block;
    
}
.topcart{
    display: flex;
    
    align-items: center;
    background-color: var(--third);
    height: 8vh;
    
}
.topcart div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.topcart h3{
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.leftarr{
    margin-left: 1vw;
    color: var(--primary);
    font-size: 1.5vw;
}
.topcart h3 a{
    text-decoration: none;
    color: var(--primary);
}
.middlecart{
    display: flex;
    /* justify-content: center; */
    /* justify-content: center; */
    flex-direction: column;
    background-color: var(--secondary);
    height: 60vh;
    overflow-y: scroll;
}
.middlecart div{
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    margin-bottom: 2vh;
    column-gap: 0.8vw;

}
.middlecart div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
   
}
.middlecart div div h1{
    font-size: 1.2vw;
}
.middlecart div div h2{
    font-size: 1.1vw;
}
.middlecart div div div{
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    width: 10vw;
    align-items: center;
}
.middlecart div div div button{
    width: 2vw;
    height: 3vh;
    background-color: var(--fourth);
    border: 2px solid var(--third) ;
    color:var(--secondary) ;
    border-radius: 0.7rem;
    cursor: pointer;
}
.middlecart div div div button:hover{
    background-color: var(--third);
    border: 2px solid var(--fourth) ;
    color:var(--fourth) ;
    
}
.middlecart div img{
    border-radius: 1rem;
    height: 6vw;
    width: 6vw;
}
.bottomcart{
    height: 30vh;
    background-color: var(--third);
    display: flex;
    flex-direction: column;
    
    
}
#checkout{
    margin-top: 2vh;
    width: 70%;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 2rem;
    align-self: center;
    border: 2px solid var(--primary);
    color: var(--fourth);
    background-color: var(--secondary);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.bottomcart a {
    margin-top: 2vh;
    align-self: center;
    color: var(--secondary);
    font-size: 1.5vw;
}
#checkout:hover{
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--third);
}
.bottomcart div{
    padding: 0 2vw;
    height: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.bottomcart div li {
    width: 100%;
    display: flex;
    font-size: 1.5vw;
    color: var(--primary);
    justify-content: space-between;
}
.banner{
    width: 100vw;
    height: 60vh;
    background-image: url("./img/banner.jpg");
    background-size: 100vw 60vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.banneritem{
    width: fit-content;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
}
.banner h1{
    color: var(--third);
    font-size: 4vw;
    font-weight: 500;
}
.banner h3{
    color: var(--fourth);
    font-size: 3vw;
    font-weight: 300;
}
.banner a{
    
    font-size: 1.5vw;
    font-weight: 300;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--fourth);
    width: 12vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.3rem;
}
.banner a:hover{
    color: var(--fourth);
    background-color: var(--primary);
}
main{
    
    margin-bottom: 2vh;
}
.categories{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 57vh;
    margin-top: 2vh;
    color: var(--fourth);

}
.categories a{
    text-decoration: none;
}
.heading{
    margin-left: 1vw;
    font-size: 2vw;
    margin-bottom: 5vh;
    font-family: 'Poppins', sans-serif;
}
.category{
   padding: 0 10vw;
    display: flex;
    justify-content: space-evenly;
   
    
    
}
.cat{
    
    /* filter: drop-shadow(0 0 0.2rem var(--fourth)); */
    width: 12vw;
    height: 40vh;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
   align-items: center;
   border-radius: 2rem;
   overflow: hidden;

}
.cat:hover{
    color: var(--primary);
}
.image{
    width: 100%;
    height: 100%;
    max-width: 12vw;
    max-height: 40vh;
    overflow: hidden;
    position: relative;
}
.cat img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 12vw;
    max-height: 40vh;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0;
    transition: transform .2s;
    
}
.cat h1{
    position: absolute;
    font-size: 1.3em;
    margin-top: 2vh;
    z-index: 2;
}

.cat:hover img{
    transform: scale(1.2)

}
.foryou{
    color: var(--fourth);
    display: grid;
}
.foryouitems{
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    
}

.item{
    font-family: 'Poppins', sans-serif;
    width: 19vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
}
.item:hover{
    /* border: 1px solid var(--secondary); */
    background-color: #eeeded81;
    border-radius: 1rem;
   
    
}

.item span a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--fourth);
}
.item span {
    width: 17vw;
}
.item span a:hover{
    color: var(--third);
}
.item img{
    /* filter: drop-shadow(0 0 0.2rem var(--fourth)); */
    width: 17vw;
    height: 15vw;
    border-radius: 1rem;
}
.item h1{
    font-size: 1.1vw;
}
.item p{
    font-size: 0.7vw;
    width: 17vw;
}
.btn{
    margin-left: 1vw;
    align-self: flex-start;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    width: 7vw;
    height: 4.5vh;
    text-decoration: none;
    color: var(--fourth); 
    background-color: var(--primary);
    border-radius: 50rem;
    border: 1px solid var(--fourth);
}
.btn:hover{
    color: var(--secondary); 
    background-color: var(--fourth);
    border: 1px solid var(--secondary);
}
.star{
    color: #01ac02;
}
.hr{
    border-top: 2px solid black;
}
.Bottom{
    background-color: var(--primary);
    width: 100vw;
    height: auto;
}
.row-1{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vh;
}
.row-1 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.column{
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    text-align: center;
   
}
.column a{
    text-decoration: none;
    color: var(--fourth);
   
}
.Bottom p{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* margin-left: 2vw; */
    margin-bottom: 0;
    text-align: center;
    
}
.hamburger{
    display: none;
}
/* ----> Sign in css <------*/

.popupcontainer{
    
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.734);
    display: none;
}
.popup{
    width: 70vw;
    height: 30vh;
    background-color: var(--fourth);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: var(--secondary);
}
.popup span{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10vw;
}
.popup span button{
    width: 20vw;
    height: 7vh;
    border: none;
    background-color: var(--secondary);
    color: var(--fourth);
    border-radius: 1rem;
    border-radius: 1rem;
    font-size: 1em;
    cursor: pointer;
}
.popup span button:hover{
    color: var(--third);
}
.popup span button:first-child{
    background-color: var(--third);
    color: var(--fourth);

}
.popup span button:first-child:hover{
    color: var(--secondary);

}
.addresscontainer{
    
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.734);
    display: none;
}
.address{
    width: 50vw;
    height: 30vh;
    background-color: var(--fifth);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: var(--fourth);
}
.address form{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 5vw;
    
}
.address form span{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
.address form span input{
    width: 30vw;
    height: 4vh;
    font-size: 1vw;
    border-radius: 1rem;
    border: 1px solid var(--secondary);
}
.address div{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10vw;
}
.address div button{
    width: 10vw;
    height: 7vh;
    border: none;
    background-color: var(--secondary);
    color: var(--fourth);
    border-radius: 1rem;
    border-radius: 1rem;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
#fillout{
    color: var(--secondary);
}
.address div button:hover{
    color: var(--third);
}
.address div button:first-child{
    background-color: var(--third);
    color: var(--primary);

}
.address div button:first-child:hover{
    color: var(--secondary);

}
.ordercontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    width: 100vw;
    height: 70vh;
    /* background-color: var(--fourth); */
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 3vw;
    row-gap: 2vh;
    margin: 0 5vw;
    
}
.orderheading{
    width: 20vw;
    height: 30vh;
    border-radius: 1rem;
    background-color: var(--fourth);
    color: var(--secondary);
    display: grid;
    padding: 1vh 2vw;
    /* grid-template-columns: 10vw 10vw 10vw; */
    
    /* justify-content: space-around; */
    /* align-items: center; */
/* text-align: center; */

}
.orderlist{
    width: 20vw;
    overflow-y: scroll;
    height: 10vh;
    
}
.orderlist div{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
    
}
.orderlist img{
    width: 3vw;
    height: 3vw;
    border-radius: 1rem;

}

.goback a{
    color: var(--third) !important;
    text-decoration: none !important;
}
@media (max-width:600px)  {
    .Navbar{
        height: 5vh;  
        padding: 0 4vw;
        align-items: center;
    }
    
    .logo {
        
        width: 18vw;
        font-size: 0.8em;
    }
    .navheading ul li{
        width: fit-content;
        
    
    }
    .searchbar{
        width: 28vw;
    }
    .scope {
        font-size: 3vw;
    }
    .searchbar input{
        width: 28vw;
        height: 2.5vh;
        border-radius: 20rem;
        padding-left: 2vw;
        padding-right: 5vw;
        font-size: 0.5em;
        
    }
    
    .right{
        padding-left: 6vw;
        width: 35vw;
        display: flex;
        justify-content: unset;
        
    }
    .navicons i{
        font-size: 3.3vw;
    }
    .cartnumber{
        
        width: 2.3vw;
        height: 2.3vw;
        
        left: 1.7vw;
        bottom: 0;
    }
    .navheading{
        font-size: 0.6em;
    }
    .account{
        margin-right: 3vw ;
        /* width: 13vw; */
    }
    .navitem{
        padding: 0;
        padding-right: 1vw;
        margin-top: 30vh;
        width: 54vw;
        height: 23vh;
        position: fixed;
        border-radius: 2rem;
       z-index: 5;  
        display: none;
        background-color: var(--secondary);
        
        
        
        
    }
    .navitem ul{
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: max-content;
        list-style: none;
       row-gap: 0;
        margin-left: 4vw;
        /* justify-content: space-around; */
        font-size: 2em;
    
        
    }
    .cartmenu{
        width: 50vw;
    }
    .topcart{
        height: 7vh;
    }
    .leftarr{
        font-size: 3.5vw;
    }
    .topcart h3{
        font-size: 3.5vw;
    }
    .middlecart{
        height: 60vh;
    }
    .middlecart div img {
        border-radius: 1rem;
        height: 15vw;
        width: 15vw;
    }
    .middlecart div div h1 {
        font-size: 2.5vw;
      }
    .middlecart div div h2 {
        font-size: 2.5vw;
      }
      .middlecart div div div {
        width: 27vw;
      }
      .middlecart div div div {
        font-size: 2vw;
      }
      .middlecart div div div button {
        width: 7vw;
        height: 4vh;
        font-size: 3vw;
      }
      .bottomcart div li {
        
        font-size: 3.5vw;
    }
    .bottomcart {
        height: 33vh;}
    .bottomcart div {
        height: 60%
    }
    .bottomcart button {
        width: 85%;
        height: 6vh;
        font-size: 3vw;
    }
    .hamburger{
        display: flex;
        cursor: pointer;
        
    }
    .banner{
        width: 100vw;
        height: 30vh;
        
        background-size: 100vw 30vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .banneritem{
        width: fit-content;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2vh;
        height: 30vh;
    }
    .banner h1{
        color: var(--third);
        font-size: 6vw;
        font-weight: 300;
    }
    .banner h3{
        color: var(--fourth);
        font-size: 4vw;
        font-weight: 200;
    }
    .banner a{
        
        font-size: 2.2vw;
        font-weight: 200;
        text-decoration: none;
        color: var(--primary);
        background-color: var(--fourth);
        width: 20vw;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.3rem;
    }

    
    .heading{
        margin-left: 1vw;
        font-size: 5vw;
        margin-bottom: 5vh;
    }
    .category{
       
        display: grid;
        grid-template-columns: max-content max-content;
        flex-wrap: wrap;
       row-gap: 5vh;
        
        
    }
    .cat{
        width: 25vw;
        height: 20vh;
        
       font-size: 1.5vw;
    }
    .cat h1{
        margin-top: 0.5vh;
    }
    .image{
        width: 28vw;
        height: 20vh;
        max-width: 25vw;
        max-height: 20vh;
    }
    .cat img{
        width: 28vw;
        height: 20vh;
        max-width: 25vw;
        max-height: 20vh;
    }

    .foryouitems {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        
        row-gap: 1vh;
        width: 90vw;
      }
    
    .item{
        width: 34vw;
        height: 26vh;
        display: flex;
        flex-direction: column;
        /* align-content: space-around; */
        justify-content: space-around;
    }

    .item img{
        width: 34vw;
        height: 30vw;
        border-radius: 0.4rem;
    }
    .item span{
        width: 32vw;
        
    }
    .item span a{
        display: flex;
        flex-direction: column;
justify-content: space-between;
    }
    .item h1{
        font-size: 2.5vw;
    }
    .item p{
        width: 32vw;
        font-size: 1.5vw;
    }
    .btn{
        font-size: 2vw;
        width: 20vw;
        height: 3vh;
    }
   
    .row-1{
        display: block;
    }
    .Bottom{
        width: 100%;
        height: auto;
    }
    .Bottom p{
        font-size: 0.6rem;
        
        
    }
    .popup{
        width: 90vw;
        font-size: 1.2em;
        text-align: center;
    }
    .popup span button {
        width: 32vw;
        font-size: 1.5em;
    }
    .address{
        width: 90vw;
        font-size: 1.2em;
        height: 80vh;
        align-items: unset;
    }
    .address h1{
        text-align: center;
    }
    .address form{
        grid-template-columns: max-content;
        margin-left: 2vw;
    }
    .address form span input {
        width: 78vw;
        
        font-size: 3vw;
    }
    .address div{

        justify-content: center;
    }
    .address div button {
        width: 32vw;
        font-size: 1.2em;
    }
    
    .ordercontainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order{
        width: 90vw;
        height: 85vh;
        /* background-color: var(--fourth); */
        overflow-y: scroll;
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: max-content;
        column-gap: 3vw;
        row-gap: 2vh;
        margin: 0 5vw;
        
    }
    .orderheading{
        width: 80vw;
        height: 30vh;
        border-radius: 1rem;
        background-color: var(--fourth);
        color: var(--secondary);
        display: grid;
        padding: 1vh 2vw;
        font-size: 0.7em;
        /* grid-template-columns: 10vw 10vw 10vw; */
        
        /* justify-content: space-around; */
        /* align-items: center; */
    /* text-align: center; */
    
    }
    .orderlist{
        width: 80vw;
        overflow-y: scroll;
        height: 10vh;
        
    }
    .orderlist div{
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2vh;
        
    }
    .orderlist img{
        width: 3vw;
        height: 3vw;
        border-radius: 1rem;
    
    }
    
    .bottomcart a {
        
        font-size: 3vw;
    }
}
 @media (min-width:600px) and (max-width: 1000px) {
    
    .Navbar{
        height: 5vh;  
        padding: 0 4vw;
        align-items: center;
    }
    
    .logo {
        width: 20vw;
        font-size: 1.5em;
    }
    .navheading ul li{
        width: fit-content;
        
    
    }
    .searchbar{
        width: 25vw;
    }
    .searchbar input{
        width: 25vw;
        height: 3vh;
        border-radius: 20rem;
        padding-right: 4vw;
        font-size: 1em;
    }
    
    .right{
        padding-left: 4vw;
        width: 30vw;
        display: flex;
        justify-content: unset;
        
    }
    .navicons i{
        font-size: 3.3vw;
    }
    .cartnumber{
        
        width: 2.3vw;
        height: 2.3vw;
        
        left: 1.7vw;
        bottom: 0;
    }
    .navheading{
        font-size: 1.2em;
    }
    .account{
        margin-right: 5vw ;
    }
    .navitem{
        padding: 0;
        padding-top: 100vh;
        width: 50vw;
        height: 100vh;
        position: fixed;

       z-index: 5;  
        display: none;
        background-color: var(--secondary);
        
        
        
    }
    .navitem ul{
        display: grid;
        justify-content: center;
        
        grid-template-columns: max-content;
        list-style: none;
       row-gap: 3vh;

    
        font-size: 2em;
    
        
    }
    
    .hamburger{
        display: flex;
        cursor: pointer;
        font-size: 2em;
        margin-left: 6vw;
    }
    .cartmenu{
        width: 50vw;
    }
    .topcart{
        height: 7vh;
    }
    .leftarr{
        font-size: 3.5vw;
    }
    .topcart h3{
        font-size: 3.5vw;
    }
    .middlecart{
        height: 63vh;
    }
    .middlecart div img {
        border-radius: 1rem;
        height: 15vw;
        width: 15vw;
    }
    .middlecart div div h1 {
        font-size: 2.5vw;
      }
    .middlecart div div h2 {
        font-size: 2.5vw;
      }
      .middlecart div div div {
        width: 27vw;
      }
      .middlecart div div div {
        font-size: 2vw;
      }
      .middlecart div div div button {
        width: 7vw;
        height: 4vh;
        font-size: 3vw;
      }
      .bottomcart div li {
        
        font-size: 3.5vw;
    }
    .bottomcart div {
        height: 70%
    }
    .bottomcart button {
        height: 6vh;
        font-size: 2.5vw;
    }
    .bottomcart a {
        
        font-size: 3vw;
    }
    .banner{
        width: 100vw;
        height: 30vh;
        background-image: url("./img/banner.jpg");
        background-size: 100vw 30vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .banneritem{
        width: fit-content;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2vh;
        height: 30vh;
    }
    .banner h1{
        color: var(--third);
        font-size: 6vw;
        font-weight: 300;
    }
    .banner h3{
        color: var(--fourth);
        font-size: 4vw;
        font-weight: 200;
    }
    .banner a{
        
        font-size: 2.2vw;
        font-weight: 200;
        text-decoration: none;
        color: var(--primary);
        background-color: var(--fourth);
        width: 20vw;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.3rem;
    }

    
    .heading{
        margin-left: 1vw;
        font-size: 5vw;
        margin-bottom: 5vh;
    }
    .categories {
        width: 100vw;
        height: 90vh;
        margin-top: 2vh;
        color: var(--fourth);
      }
    .category{
       
        display: grid;
        grid-template-columns: max-content max-content;
        flex-wrap: wrap;
       row-gap: 5vh;
        height: auto;
        
    }
    .cat{
        width: 25vw;
        height: 32vh;
        
       font-size: 1.5vw;
    }
    .cat h1{
        margin-top: 0.5vh;
    }
    .image{
        width: 28vw;
        height: 32vh;
        max-width: 25vw;
        max-height: 32vh;
    }
    .cat img{
        width: 28vw;
        height: 32vh;
        max-width: 25vw;
        max-height: 32vh;
    }

    .foryouitems{
        
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        column-gap: 7vw;
        row-gap: 1vh;
    }
    
    .item{
        width: 28vw;
        height: 38vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .item img{
        width: 26vw;
        height: 20vw;
        border-radius: 1rem;
    }
    .item span{
        width: 26vw;
    }
    .item h1{
        font-size: 1.7vw;
    }
    .item p{
        font-size: 1.2vw;
        width: 26vw;
    }
    .btn{
        font-size: 2vw;
        width: 15vw;
        height: 3vh;
    }
   
    .row-1{
        display: block;
    }
    .Bottom{
        width: 100%;
        height: auto;
    }
    .Bottom p{
        font-size: 0.6rem;
        
        
    }
    .popup{
        width: 90vw;
        font-size: 1.5em;
    }
    .popup span button {
        width: 32vw;
        font-size: 1.5em;
    }
    .address{
        width: 90vw;
        
        height: 80vh;
        align-items: unset;
    }
    .address h1{
        text-align: center;
    }
    .address span{
        grid-template-columns: max-content;
        margin-left: 2vw;
    }
    .address span span input {
        width: 78vw;
        
        font-size: 2vw;
    }
    .address div{

        justify-content: center;
    }
    .address div button {
        width: 27vw;
        font-size: 1.2em;
    }
    .ordercontainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order{
        width: 55vw;
        height: 70vh;
        /* background-color: var(--fourth); */
        overflow-y: scroll;
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 3vw;
        row-gap: 2vh;
        margin: 0 5vw;
        
    }
    .orderheading{
        width: 20vw;
        height: 30vh;
        border-radius: 1rem;
        background-color: var(--fourth);
        color: var(--secondary);
        display: grid;
        padding: 1vh 2vw;
        font-size: 0.7em;
        /* grid-template-columns: 10vw 10vw 10vw; */
        
        /* justify-content: space-around; */
        /* align-items: center; */
    /* text-align: center; */
    
    }
    .orderlist{
        width: 20vw;
        overflow-y: scroll;
        height: 10vh;
        
    }
    .orderlist div{
        width: 20vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2vh;
        
    }
    .orderlist img{
        width: 3vw;
        height: 3vw;
        border-radius: 1rem;
    
    }
} 

@media (min-width: 1000px) and (max-width: 1300px)  {
    .address{
        
        
        height: 60vh;
    }
    .address span span input {
        height: 5vh;
    }
    .address div button {
        height: 12vh;
        font-size: 1.7em;
        border-radius: 2rem;
    }
    .Navbar{
        width: 95vw;
        height: 10vh;
        padding: 0 4vw;
    }

    .navitem ul{
        column-gap: 3vw;
    }
    .searchbar{
        width: 16vw;
    }
    .searchbar input{
        width: 16vw;
        height:5vh;
        padding-right: 2vw;
    }
    .navheading{
        font-size: 1.1em;
        
    }
    .right{
        text-align: center;
    }
    .navicons i{
        font-size: 1.8vw;
    }
    .cartnumber{
        
        width: 1.3vw;
        height: 1.3vw;
        
        left: 1.1vw;
        bottom: 0;
    }
    .categories{
        width: 100vw;
        height: 70vh;
        margin-top: 2vh;
    
    }
    .heading{
        margin-left: 1vw;
        font-size: 3vw;
  
    }

    .cat{
        width: 18vw;
        height: 52vh;
        
       font-size: 1.3vw;
    }
    .cat h1{
        margin-top: 0.5vh;
    }
    .image{
        width: 18vw;
        height: 52vh;
        max-width: 18vw;
        max-height: 52vh;
    }
    .cat img{
        width: 18vw;
        height: 52vh;
        max-width: 18vw;
        max-height: 52vh;
    }
    .foryouitems{
        
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        column-gap: 4vw;
        row-gap: 1vh;
    }
    
    .item{
        width: 30vw;
        height: 38vw;
        display: flex;
        flex-direction: column;
         
        justify-content: space-around;
    }
    .item span {
        width: 27vw;
        
    }
    .item p {
        width: 27vw;
        
    }

    .item img{
        width: 27vw;
        height: 20vw;
        border-radius: 1rem;
    }
    .item h1{
        font-size: 1.7vw;
    }
    .item p{
        font-size: 1.2vw;
    }
    .btn{
        font-size: 1.5vw;
        width: 10vw;
        height: 5vh;
    }
    .ordercontainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order{
        width: 55vw;
        height: 70vh;
        /* background-color: var(--fourth); */
        overflow-y: scroll;
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 3vw;
        row-gap: 2vh;
        margin: 0 5vw;
        
    }
    .orderheading{
        width: 20vw;
        height: 30vh;
        border-radius: 1rem;
        background-color: var(--fourth);
        color: var(--secondary);
        display: grid;
        padding: 1vh 2vw;
        font-size: 0.7em;
        /* grid-template-columns: 10vw 10vw 10vw; */
        
        /* justify-content: space-around; */
        /* align-items: center; */
    /* text-align: center; */
    
    }
    .orderlist{
        width: 20vw;
        overflow-y: scroll;
        height: 10vh;
        
    }
    .orderlist div{
        width: 20vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2vh;
        
    }
    .orderlist img{
        width: 3vw;
        height: 3vw;
        border-radius: 1rem;
    
    }
}

@media (min-width: 1300px) and (max-width: 1600px)  {
    .navheading{
        font-size:  1.1em;
        
    }
    
    .navitem ul{
        column-gap: 2.5vw;
    }
    .searchbar{
        width: 18vw;
    }
    .searchbar input{
        width: 18vw;
        height:5vh;
        padding-right: 2vw;
    }
    .categories{
        
        height: 70vh;
        margin-top: 2vh;
    
    }
    .cat{
        width: 16vw;
        height: 50vh;
        
       font-size: 1.3vw;
    }
    .image{
        width: 16vw;
        height: 50vh;
        max-width: 16vw;
        max-height: 50vh;
    }
    .cat img{
        width: 16vw;
        height: 50vh;
        max-width: 16vw;
        max-height: 50vh;
    }
    .column{
        width: 25vw;
    }
    .Bottom p{
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        /* margin-left: 2vw; */
        margin-bottom: 0;
        
        
    }
    .row-1 h4 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
    }
}
@media (min-width: 2560px) and (max-width: 3839px)  {
    .navheading{
        font-size:  2em;
        
    }
    .logo {
        /* width: 30vw; */
        font-size: 3em;
    }
    .navitem ul{
        column-gap: 2.5vw;
    }
    .searchbar{
        width: 18vw;
    }
    .searchbar input{
        width: 18vw;
        height:5vh;
        padding-right: 2vw;
    }
    .categories{
        
        height: 70vh;
        margin-top: 2vh;
    
    }
    .cat{
        width: 17vw;
        height: 50vh;
        
       font-size: 1.3vw;
       border-radius: 4rem;
    }
    .image{
        width: 17vw;
        height: 50vh;
        max-width: 17vw;
        max-height: 50vh;
        border-radius: 4rem;
    }
    .cat img{
        width: 17vw;
        height: 50vh;
        max-width: 17vw;
        max-height: 50vh;
    }
    .column{
        width: 30vw;
    }
    .Bottom p{
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        /* margin-left: 2vw; */
        margin-bottom: 0;
        
        
    }
    .row-1 h4 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
    }
}
@media (min-width: 3840px) {
    .navheading{
        font-size:  3em;
        
    }
    .logo {
        /* width: 30vw; */
        font-size: 5em;
    }
    .navitem ul{
        column-gap: 2.5vw;
    }
    .searchbar{
        width: 18vw;
    }
    .searchbar input{
        width: 18vw;
        height:4vh;
        padding-right: 2vw;
        font-size: 2em;
    }
    .scope{
        font-size: 3em;
    }
    .categories{
        
        height: 70vh;
        margin-top: 2vh;
    
    }
    .cat{
        width: 17vw;
        height: 50vh;
        border-radius: 5rem;
       font-size: 1.3vw;
    }
    .image{
        width: 17vw;
        height: 50vh;
        max-width: 17vw;
        max-height: 50vh;
        border-radius: 5rem;
    }
    .cat img{
        width: 17vw;
        height: 50vh;
        max-width: 17vw;
        max-height: 50vh;
    }
    .column{
        width: 30vw;
    }
    .Bottom p{
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        /* margin-left: 2vw; */
        margin-bottom: 0;
        
        
    }
    .row-1 h4 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 3rem;
    }
}
