@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary);
}
:root {
    --primary : #171717;
    --secondary : #444444;
    --third : #DA0037;
    --fourth : #EDEDED;
}


::-webkit-scrollbar {
    width: 15px;
    background:var(--fourth);
}

::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background:var(--secondary);
}

.Navbar{
    display: flex;
    color: var(--fourth);
    background-color: var(--primary);
    height: 7vh;
    font-family: 'Poppins', sans-serif;
    padding: 0 4vw;
    align-items: center;
}

.Navbar a{
    text-decoration: none;
    color: var(--fourth);
}
.navheading i{
    cursor: pointer;;
}

.navheading:hover {
    color: var(--third);
}

.Navbar a:hover{
    
    color: var(--third);
}
.logo {
    width: 10vw;
    font-size: 2em;
    color: var(--secondary);
}
.logo a{
    
    color: var(--third);
}
.logo a:hover{
    
    color: var(--fourth);
}
.navitem{
    width: fit-content;
    padding: 0 3vw;
}
.navitem ul{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    list-style: none;
    column-gap: 5vw;
    /* justify-content: space-around; */
    

    
}
.navheading ul li{
    width: fit-content;
    

}
.navheading{
    font-size: 1.2em;
    cursor: pointer;
}
.navitem ul li a:first-child{
    display: flex;
   
    

}

.searchbar{
    width: 21vw;
}
.searchbar input{
    width: 21vw;
    height: 4vh;
    border-radius: 20rem;
    background-color: var(--secondary);
    border: 1px solid var(--fourth);
    -webkit-box-shadow: 0 0 6px #e9e9eb;
    -moz-box-shadow: 0 0 5px #e9e9eb;
    box-shadow: 0 0 1px #e9e9eb;
    padding-right: 1.5vw;
}

.right{
    padding-left: 1.5vw;
    width: 25vw;
    display: flex;
    justify-content: space-around;
}

.cartmenu{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    display: none;
    background-color: var(--primary);
    width: 25vw;
    height: 100vh;
    
    z-index: 2;
    right: 0;
    top: 0;
}
.show{
    display: block;
    
}
.topcart{
    display: flex;
    
    align-items: center;
    background-color: var(--fourth);
    height: 8vh;
    
}
.topcart div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.topcart h3{
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.leftarr{
    margin-left: 1vw;
    color: var(--primary);
    font-size: 1.5vw;
}
.topcart h3 a{
    text-decoration: none;
    color: var(--primary);
}
.middlecart{
    display: flex;
    /* justify-content: center; */
    /* justify-content: center; */
    flex-direction: column;
    background-color: var(--secondary);
    height: 60vh;
    overflow-y: scroll;
}
.middlecart div{
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    margin-bottom: 2vh;
    column-gap: 0.8vw;

}
.middlecart div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
   
}
.middlecart div div h1{
    font-size: 1.2vw;
}
.middlecart div div h2{
    font-size: 1.1vw;
}
.middlecart div div div{
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    width: 10vw;
    align-items: center;
}
.middlecart div div div button{
    width: 2vw;
    height: 3vh;
    background-color: var(--fourth);
    border: 2px solid var(--third) ;
    color:var(--third) ;
    border-radius: 0.7rem;
    cursor: pointer;
}
.middlecart div div div button:hover{
    background-color: var(--third);
    border: 2px solid var(--fourth) ;
    color:var(--fourth) ;
    
}
.middlecart div img{
    border-radius: 1rem;
    height: 6vw;
    width: 6vw;
}
.bottomcart{
    height: 30vh;
    background-color: var(--fourth);
    display: flex;
    flex-direction: column;
    
    
}
.bottomcart button{
    margin-top: 2vh;
    width: 70%;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 2rem;
    align-self: center;
    border: 2px solid var(--primary);
    color: var(--fourth);
    background-color: var(--secondary);
    cursor: pointer;
}
.bottomcart button:hover{
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--primary);
}
.bottomcart div{
    padding: 0 2vw;
    height: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.bottomcart div li {
    width: 100%;
    display: flex;
    font-size: 1.5vw;
    color: var(--primary);
    justify-content: space-between;
}
.banner{
    width: 100vw;
    height: 50vh;
    background-image: url("./img/banner.png");
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.banneritem{
    width: fit-content;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
}
.banner h1{
    color: var(--third);
    font-size: 4vw;
    font-weight: 300;
}
.banner h3{
    color: var(--fourth);
    font-size: 3vw;
    font-weight: 200;
}
.banner a{
    
    font-size: 1.5vw;
    font-weight: 200;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--fourth);
    width: 12vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.3rem;
}
.banner a:hover{
    color: var(--fourth);
    background-color: var(--primary);
}
main{
    
    margin-bottom: 2vh;
}
.categories{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 57vh;
    margin-top: 2vh;
    color: var(--fourth);

}
.categories a{
    text-decoration: none;
}
.heading{
    margin-left: 1vw;
    font-size: 2vw;
    margin-bottom: 5vh;
    font-family: 'Poppins', sans-serif;
}
.category{
   
    display: flex;
    justify-content: space-around;
   
    
    
}
.cat{
    
    filter: drop-shadow(0 0 0.2rem var(--fourth));
    width: 17vw;
    height: 40vh;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--fourth);
    display: flex;
    flex-direction: column;
   align-items: center;
   border-radius: 2rem;
}
.cat:hover{
    color: var(--primary);
}

.image{
    width: 13vw;
    background-color: var(--fourth);
    border-radius: 50rem;
    height: 13vw;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cat img{
    z-index: 1;
    width: 10vw;
    height: auto;
    margin: auto 0;
    
}

.cat:hover img{
    width: 20vw;
    
    margin: auto 0;
    transition: 0.3s;

}
.foryou{
    color: var(--fourth);
}
.foryouitems{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.item{
    font-family: 'Poppins', sans-serif;
    width: 19vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
}
.item:hover{
    /* border: 1px solid var(--secondary); */
    background-color:var(--secondary);
    border-radius: 1rem;
}
.item span a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--fourth);
}
.item span {
    width: 17vw;
}
.item span a:hover{
    color: var(--third);
}
.item img{
    filter: drop-shadow(0 0 0.2rem var(--fourth));
    width: 17vw;
    height: 15vw;
    border-radius: 1rem;
}
.item h1{
    font-size: 1.1vw;
}
.item p{
    font-size: 0.7vw;
    width: 17vw;
}
.btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    width: 7vw;
    height: 3.5vh;
    text-decoration: none;
    color: var(--fourth); 
    background-color: var(--secondary);
    border-radius: 50rem;
    border: 1px solid var(--fourth);
}
.btn:hover{
    color: var(--secondary); 
    background-color: var(--fourth);
    border: 1px solid var(--secondary);
}
.star{
    color: orange;
}
.hr{
    border-top: 2px solid black;
}
.Bottom{
    background-color: var(--primary);
    width: 100vw;
    height: auto;
}
.row-1{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vh;
}
.row-1 h4{
    font-family: 'Unbounded', cursive;
    font-weight: 700;
}

.column{
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
   
}
.column a{
    text-decoration: none;
    color: var(--fourth);
   
}
.Bottom p{
    font-size: 1rem;
    font-family: 'Unbounded', cursive;
    font-weight: 300;
    /* margin-left: 2vw; */
    margin-bottom: 0;
    cursor: pointer;
    
}
.hamburger{
    display: none;
}
/* ----> Sign in css <------*/
.signin{
    background-color: var(--fourth);
    width: 458px;
    height: 676.9px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Poppins', sans-serif;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top a{
    width: 10vw;
    font-size: 2em;
    color: var(--third);
    text-decoration: none;
    width: fit-content;
}
.top h1{
    font-size: 2em;
}
.top p{
    width: 90%;
    font-size: 1.2em;
    text-align: center;
}
.form{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.form input{
    width: 100%;
    height: 4vh;
    border-radius: 0.5rem;
    border: none;
    font-size: 1em;
    
}
.check{
    display: flex;
    align-items: center;
    column-gap: 1vw;
}
.check input{
    width: 1.5em;
    height: 1.5em;
    background-color: var(--secondary);
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid var(--secondary);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
}
.check input:checked {
    background-color: var(--third);
}
.bottom{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}
.bottom span{

    display: flex;
    column-gap: 1vw;
    align-items: center;
}
.bottom button{
 border: none;
 background-color: var(--third);
 color: var(--fourth);
 border-radius: 1rem;
 width: 100%;
 height: 5vh;
 font-size: 1.5em;
 letter-spacing: 2px;
 cursor: pointer;
}
.bottom button:hover{
    color: var(--secondary);
    

}
.bottom span a{
 text-decoration: none;
 color: var(--third);
}
.bottom span a:hover{
 color: var(--secondary);
}
.warning{
    color: red;
}
.popupcontainer{
    
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.734);
    display: none;
}
.popup{
    width: 70vw;
    height: 30vh;
    background-color: var(--fourth);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}
.popup span{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10vw;
}
.popup span button{
    width: 20vw;
    height: 7vh;
    border: none;
    background-color: var(--secondary);
    color: var(--fourth);
    border-radius: 1rem;
    border-radius: 1rem;
    font-size: 1em;
    cursor: pointer;
}
.popup span button:hover{
    color: var(--third);
}
.popup span button:first-child{
    background-color: var(--third);
    color: var(--fourth);

}
.popup span button:first-child:hover{
    color: var(--secondary);

}
.addresscontainer{
    
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.734);
    display: none;
}
.address{
    width: 70vw;
    height: 50vh;
    background-color: var(--fourth);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.address span{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 5vw;
    
}
.address span span{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
.address span span input{
    width: 30vw;
    height: 4vh;
    font-size: 1vw;
    border-radius: 1rem;
    border: 1px solid var(--secondary);
}
.address div{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10vw;
}
.address div button{
    width: 20vw;
    height: 7vh;
    border: none;
    background-color: var(--secondary);
    color: var(--fourth);
    border-radius: 1rem;
    border-radius: 1rem;
    font-size: 1em;
    cursor: pointer;
}
.address div button:hover{
    color: var(--third);
}
.address div button:first-child{
    background-color: var(--third);
    color: var(--fourth);

}
.address div button:first-child:hover{
    color: var(--secondary);

}
.ordercontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    width: 60vw;
    height: 70vh;
    /* background-color: var(--fourth); */
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    
}
.orderheading{
    width: 100%;
    height: 7vh;
    border-radius: 1rem;
    background-color: var(--fourth);
    color: var(--secondary);
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    
    justify-content: space-around;
    align-items: center;
text-align: center;

}
#data{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

@media (max-width:600px)  {
    .Navbar{
        height: 5vh;  
        padding: 0 1vw;
        align-items: center;
    }
    
    .logo {
        width: 20vw;
        font-size: 0.9em;
    }
    .navheading ul li{
        width: fit-content;
        
    
    }
    .searchbar{
        width: 30vw;
    }
    .searchbar input{
        width: 30vw;
        height: 2.5vh;
        border-radius: 20rem;
        padding-right: 6vw;
        font-size: 0.5em;
    }
    
    .right{
        padding-left: 6vw;
        width: 30vw;
        display: flex;
        justify-content: unset;
        
    }
    .navheading{
        font-size: 0.6em;
    }
    .account{
        margin-right: 3vw ;
    }
    .navitem{
        padding: 0;
        padding-top: 100vh;
        width: 50vw;
        height: 100vh;
        position: fixed;

       z-index: 5;  
        display: none;
        background-color: var(--secondary);
        
        
        
    }
    .navitem ul{
        display: grid;
        justify-content: center;
        
        grid-template-columns: max-content;
        list-style: none;
       row-gap: 3vh;

        /* justify-content: space-around; */
        font-size: 2em;
    
        
    }
    .cartmenu{
        width: 50vw;
    }
    .topcart{
        height: 7vh;
    }
    .leftarr{
        font-size: 3.5vw;
    }
    .topcart h3{
        font-size: 3.5vw;
    }
    .middlecart{
        height: 63vh;
    }
    .middlecart div img {
        border-radius: 1rem;
        height: 15vw;
        width: 15vw;
    }
    .middlecart div div h1 {
        font-size: 2.5vw;
      }
    .middlecart div div h2 {
        font-size: 2.5vw;
      }
      .middlecart div div div {
        width: 27vw;
      }
      .middlecart div div div {
        font-size: 2vw;
      }
      .middlecart div div div button {
        width: 7vw;
        height: 4vh;
        font-size: 3vw;
      }
      .bottomcart div li {
        
        font-size: 3.5vw;
    }
    .bottomcart div {
        height: 60%
    }
    .bottomcart button {
        width: 85%;
        height: 6vh;
        font-size: 3vw;
    }
    .hamburger{
        display: flex;
        cursor: pointer;
        
    }
    .banner{
        width: 100vw;
        height: 30vh;
        background-image: url("./img/banner.png");
        background-size: 100vw 30vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .banneritem{
        width: fit-content;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2vh;
        height: 30vh;
    }
    .banner h1{
        color: var(--third);
        font-size: 6vw;
        font-weight: 300;
    }
    .banner h3{
        color: var(--fourth);
        font-size: 4vw;
        font-weight: 200;
    }
    .banner a{
        
        font-size: 2.2vw;
        font-weight: 200;
        text-decoration: none;
        color: var(--primary);
        background-color: var(--fourth);
        width: 20vw;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.3rem;
    }

    
    .heading{
        margin-left: 1vw;
        font-size: 5vw;
        margin-bottom: 5vh;
    }
    .category{
       
        display: grid;
        grid-template-columns: max-content max-content;
        flex-wrap: wrap;
       row-gap: 5vh;
        
        
    }
    .cat{
        width: 40vw;
        height: 20vh;
        border-radius: 1rem;
       font-size: 1.5vw;
    }
    .cat h1{
        margin-top: 0.5vh;
    }
    .image{
        width: 33vw;
        height: 33vw;
    }
    .cat img{
        width: 25vw;
    
    }

    .foryouitems{
        
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        column-gap: 7vw;
        row-gap: 1vh;
    }
    
    .item{
        width: 26vw;
        height: 36vw;
        display: flex;
        flex-direction: column;
        /* align-content: space-around; */
        justify-content: space-around;
    }

    .item img{
        width: 26vw;
        height: 20vw;
        border-radius: 0.4rem;
    }
    .item span{
        width: 26vw;
    }
    .item h1{
        font-size: 1.7vw;
    }
    .item p{
        width: 26vw;
        font-size: 1.1vw;
    }
    .btn{
        font-size: 2vw;
        width: 13vw;
        height: 2vh;
    }
   
    .row-1{
        display: block;
    }
    .Bottom{
        width: 100%;
        height: auto;
    }
    .Bottom p{
        font-size: 0.6rem;
        
        
    }
    .popup{
        width: 90vw;
        font-size: 1.2em;
        text-align: center;
    }
    .popup span button {
        width: 32vw;
        font-size: 1.5em;
    }
    .address{
        width: 90vw;
        font-size: 1.2em;
        height: 80vh;
        align-items: unset;
    }
    .address h1{
        text-align: center;
    }
    .address span{
        grid-template-columns: max-content;
        margin-left: 2vw;
    }
    .address span span input {
        width: 78vw;
        
        font-size: 3vw;
    }
    .address div{

        justify-content: center;
    }
    .address div button {
        width: 32vw;
        font-size: 1.2em;
    }
}
 @media (min-width:600px) and (max-width: 1000px) {
    .Navbar{
        height: 5vh;  
        padding: 0 1vw;
        align-items: center;
    }
    
    .logo {
        width: 20vw;
        font-size: 1.5em;
    }
    .navheading ul li{
        width: fit-content;
        
    
    }
    .searchbar{
        width: 25vw;
    }
    .searchbar input{
        width: 25vw;
        height: 3vh;
        border-radius: 20rem;
        padding-right: 4vw;
        font-size: 1em;
    }
    
    .right{
        padding-left: 4vw;
        width: 30vw;
        display: flex;
        justify-content: unset;
        
    }
    .navheading{
        font-size: 1em;
    }
    .account{
        margin-right: 5vw ;
    }
    .navitem{
        padding: 0;
        padding-top: 100vh;
        width: 50vw;
        height: 100vh;
        position: fixed;

       z-index: 5;  
        display: none;
        background-color: var(--secondary);
        
        
        
    }
    .navitem ul{
        display: grid;
        justify-content: center;
        
        grid-template-columns: max-content;
        list-style: none;
       row-gap: 3vh;

    
        font-size: 2em;
    
        
    }
    
    .hamburger{
        display: flex;
        cursor: pointer;
        font-size: 2em;
        margin-left: 2vw;
    }
    .cartmenu{
        width: 50vw;
    }
    .topcart{
        height: 7vh;
    }
    .leftarr{
        font-size: 3.5vw;
    }
    .topcart h3{
        font-size: 3.5vw;
    }
    .middlecart{
        height: 63vh;
    }
    .middlecart div img {
        border-radius: 1rem;
        height: 15vw;
        width: 15vw;
    }
    .middlecart div div h1 {
        font-size: 2.5vw;
      }
    .middlecart div div h2 {
        font-size: 2.5vw;
      }
      .middlecart div div div {
        width: 27vw;
      }
      .middlecart div div div {
        font-size: 2vw;
      }
      .middlecart div div div button {
        width: 7vw;
        height: 4vh;
        font-size: 3vw;
      }
      .bottomcart div li {
        
        font-size: 3.5vw;
    }
    .bottomcart div {
        height: 70%
    }
    .bottomcart button {
        height: 6vh;
        font-size: 2.5vw;
    }
    .banner{
        width: 100vw;
        height: 30vh;
        background-image: url("./img/banner.png");
        background-size: 100vw 30vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .banneritem{
        width: fit-content;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2vh;
        height: 30vh;
    }
    .banner h1{
        color: var(--third);
        font-size: 6vw;
        font-weight: 300;
    }
    .banner h3{
        color: var(--fourth);
        font-size: 4vw;
        font-weight: 200;
    }
    .banner a{
        
        font-size: 2.2vw;
        font-weight: 200;
        text-decoration: none;
        color: var(--primary);
        background-color: var(--fourth);
        width: 20vw;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.3rem;
    }

    
    .heading{
        margin-left: 1vw;
        font-size: 5vw;
        margin-bottom: 5vh;
    }
    .categories {
        width: 100vw;
        height: 90vh;
        margin-top: 2vh;
        color: var(--fourth);
      }
    .category{
       
        display: grid;
        grid-template-columns: max-content max-content;
        flex-wrap: wrap;
       row-gap: 5vh;
        height: auto;
        
    }
    .cat{
        width: 40vw;
        height: 35vh;
        border-radius: 1rem;
       font-size: 2vw;
    }
    .cat h1{
        margin-top: 0.5vh;
        
    }
    .image{
        width: 33vw;
        height: 33vw;
    }
    .cat img{
        width: 25vw;
    
    }

    .foryouitems{
        
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        column-gap: 7vw;
        row-gap: 1vh;
    }
    
    .item{
        width: 28vw;
        height: 38vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .item img{
        width: 26vw;
        height: 20vw;
        border-radius: 1rem;
    }
    .item span{
        width: 26vw;
    }
    .item h1{
        font-size: 1.8vw;
    }
    .item p{
        font-size: 1.2vw;
        width: 26vw;
    }
    .btn{
        font-size: 2vw;
        width: 15vw;
        height: 2.5vh;
    }
   
    .row-1{
        display: block;
    }
    .Bottom{
        width: 100%;
        height: auto;
    }
    .Bottom p{
        font-size: 0.6rem;
        
        
    }
    .popup{
        width: 90vw;
        font-size: 1.5em;
    }
    .popup span button {
        width: 32vw;
        font-size: 1.5em;
    }
    .address{
        width: 90vw;
        
        height: 80vh;
        align-items: unset;
    }
    .address h1{
        text-align: center;
    }
    .address span{
        grid-template-columns: max-content;
        margin-left: 2vw;
    }
    .address span span input {
        width: 78vw;
        
        font-size: 2vw;
    }
    .address div{

        justify-content: center;
    }
    .address div button {
        width: 27vw;
        font-size: 1.2em;
    }
} 

@media (min-width: 1000px) and (max-width: 1300px)  {
    .address{
        
        
        height: 60vh;
    }
    .address span span input {
        height: 5vh;
    }
    .address div button {
        height: 12vh;
        font-size: 1.7em;
        border-radius: 2rem;
    }
    .Navbar{
        height: 10vh;
        padding: 0 2vw;
    }

    .navitem ul{
        column-gap: 3vw;
    }
    .searchbar{
        width: 18vw;
    }
    .searchbar input{
        width: 18vw;
        height:5vh;
        padding-right: 2vw;
    }
    .navheading{
        font-size: 1.1em;
        
    }
    .right{
        text-align: center;
    }
    .categories{
        width: 100vw;
        height: 60vh;
        margin-top: 2vh;
    
    }
    .heading{
        margin-left: 1vw;
        font-size: 3vw;
  
    }

    .cat{
        width: 20vw;
        height: 45vh;
        font-size: 0.8em;
    }
    .image{
        width: 17vw;
        height: 17vw;
    }
    .cat img{
        width: 15vw;
    
    }
    
    .cat:hover img{
        width: 22vw;
    }
    .foryouitems{
        
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        column-gap: 4vw;
        row-gap: 1vh;
    }
    
    .item{
        width: 30vw;
        height: 38vw;
        display: flex;
        flex-direction: column;
         
        justify-content: space-around;
    }
    .item span {
        width: 27vw;
        
    }
    .item p {
        width: 27vw;
        
    }

    .item img{
        width: 27vw;
        height: 20vw;
        border-radius: 1rem;
    }
    .item h1{
        font-size: 1.7vw;
    }
    .item p{
        font-size: 1.2vw;
    }
    .btn{
        font-size: 1.5vw;
        width: 10vw;
        height: 5vh;
    }
}


